.page--home {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 4rem;
  
  .liked, .rec {
    flex: 1 1 auto;  
  }

  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  li {
    line-height: 1.5rem;
  }
}
