.form--post {
  width: 60%;
  margin: 0 auto 2rem;

  .form-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .title {
    flex: 1 1 auto;
    align-self: center;
    width: 2rem;
    text-align: center;
  }

  .notice {
    text-align: center;
    padding: 2rem;
  }

  .error-message {
    text-align: center;
  }

  .input--username, .input--passwd {
    flex: 1 1 auto;
    resize: none;
    border-radius: 0.5rem;
    border-color: #9d9d9d;
    padding: 1rem;
    font-size: 1.3rem;

    &.is-error {
      border-color: red;
    }
  }

  .btn-wrapper {
    flex: 0 0 25%;
    padding: 1rem 1.5rem;
  }

  .btn--post-submit {
    width: 100%;
    height: 100%;
    background: none;
    color: #666;
    font-size: 1.3rem;
    border: 1px solid #aaa;
    border-radius: .4rem;
    cursor: pointer;
  }
}
